.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.nav{
  background: darkblue;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.nav-right{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
li{
  list-style-type: none;
  margin-right: 5%;
}
.link{
  color: #fff;
  text-decoration: none;
}
table{
  margin: 5% 0 0 5%;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 1em;
}
th{
  background: #ccc;
}
td{
  text-align: center;
  padding: 0.7em;
}